<% layout('layout/boilerplate') %>
    <h1>Edit a campground</h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
    <div>
      <label for="title">Add new title</label>
      <input type="text"
      name="campground[title]"
      value="<%= campground.title %>"
      id="title"
      placeholder="Enter a title" />
      <label for="location">Add new location</label>
      <input
        type="text"
        name="campground[location]"
        value="<%= campground.location %>"
        id="location"
        placeholder="Enter a location"
      />
      <button type="submit">Save campground</button>
    </form>
    </div>
    <a href="/campgrounds/<%=campground._id %>">Back to campground</a>
