<% layout('layout/boilerplate') %>
<h1>All campgrounds on Campy</h1>
<a href="/campgrounds/new">Add a campground</a>

<div class="cards">
  <% for(let campground of campgrounds) { %>
  <div class="card text-bg-dark mb-3">
    <img src="<%= campground.image %>" class="card-img" alt="..." />
    <div class="card-img-overlay">
      <h2 class="card-title"><%= campground.title %></h2>
      <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"
        >More info</a
      >
    </div>
  </div>
  <% } %>
</div>
